@charset "UTF-8";

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 100%;
}

.cadastro{
	height: 27rem;
	width: 30%;
	background-color: #6E6E6E;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 15px;
	color: white;
}

.cadastro_field{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.cadastro_field input{
	height: 2.4rem;
	margin-top: 0.5rem;
}